.About-box {
    background-color: rgba(73, 2, 131, 0.034);
    height: 270px;
    margin-top: 30px !important;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}